<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>352585456587-26icohuqbdf9a68q95m83r14n8cpc4fs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.352585456587-26icohuqbdf9a68q95m83r14n8cpc4fs</string>
	<key>API_KEY</key>
	<string>AIzaSyAq_8f0vKpS7xxU-m7uDAkFyuTNggezPuU</string>
	<key>GCM_SENDER_ID</key>
	<string>352585456587</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.globiaTechnologies.GoMaps</string>
	<key>PROJECT_ID</key>
	<string>signin-e0a7d</string>
	<key>STORAGE_BUCKET</key>
	<string>signin-e0a7d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:352585456587:ios:9359d8f788d0e4ac</string>
	<key>DATABASE_URL</key>
	<string>https://signin-e0a7d.firebaseio.com</string>
</dict>
</plist>